
.size {

   position: absolute;
   top: 49%;
   left: 49%;
   width: 200px;
   height: 200px;
   margin-top: -200px; /* Half the height */
   margin-left: -150px; /* Half the width */
}



.size1 {
 position: relative;
   top: 60%;
   left: 55%;

   width: 100px;
   height: 100px;
   margin-top: 100px; /* Half the height */
   margin-left: -160px; /* Half the width */;
   margin-bottom: 200px;

}
.size2 {
position: absolute;
   top: -9%;
   left: 55%;
  
   width: 100px;
   height: 100px;
   margin-top: 50px; /* Half the height */
   margin-left: -150px; /* Half the width */;
margin-bottom: 200px;
}
