
.size {

   position: absolute;
   top: 49%;
   left: 49%;
   width: 200px;
   height: 200px;
   margin-top: -200px; 
   margin-left: -150px; 
}



.size1 {
 position: fixed;
   top: 50%;
   left: 55%
   width: 100px;
   height: 100px;
   margin-top: 110px; 
   margin-left: 350px; 
   margin-bottom: 150px;

}
.size2 {
position: absolute;
   top: -9%;
   left: 55%;
   width: 100px;
   height: 100px;
   margin-top: 50px; 
   margin-left: -150px; 
margin-bottom: 200px;
}
